.container{
	width:270px;
	float:left;
	margin-left:11px;
	}
.image-row .image-set .img1 .img2{
	width:313px;
	height:250px;
	float:left;
	padding:0px;
	box-shadow:0px 0px 2px #F1F1F1;
	margin-bottom:10px;
	box-shadow:0px 0px 3px #000000;
}
.img3{
	width:736px;
	height:400px;
	
	padding:0px;
	box-shadow:0px 0px 2px #F1F1F1;
	margin-bottom:10px;
	margin-left:-1px;
	
}
.img4{
	width:300px;
	height:500px;	
	margin-left:-5px;	
}
.img5{
	width:780px;
	height:400px;	
	margin-bottom:20px;	
	margin-left:-8px;
}
.head1{
font-family:"Khmer OS Bokor", "Khmer OS Content", "Khmer OS Muol", "Khmer OS";
font-size:32px;
text-align:center;
color:#F60;
}
.head2{
font-family:"Khmer OS Bokor", "Khmer OS Content","Khmer OS Muol Light", "Khmer OS";
font-size:16px;
text-align:center;
color:#F60;
margin-top:0px;
}
.aca{
	font-family: "Khmer OS Content", "Khmer OS", "Khmer OS Bokor", "Khmer OS Muol";
	font-size:18px;
	text-decoration:underline;
	margin-left:40px;
}
.aca a:link{
	color:#000;
}
.aca a:visited{
	color:#00F;
}
.acah{
	font-family: "Khmer OS Content", "Khmer OS", "Khmer OS Bokor", "Khmer OS Muol";
	font-size:22px;
	font-weight:bold;
	color:#F60;
	
}
.imgb1{
width:auto;
height:auto;
text-align:center;
float:left;
margin-left:85px;
}
.imgb1 li{
list-style-type:none;
margin-left:-40px;
font-family: "Khmer OS Content", "Khmer OS", "Khmer OS Bokor","Khmer OS Muol";
font-size:14px;
color:#000;
margin-bottom:-10px;
}
.imgb{
width:auto;
height:auto;
text-align:center;
float:left;
margin-left:auto;
margin-right:auto;
padding:0px;

}
.imgb li{
list-style-type:none;
margin-left:-40px;
font-family: "Khmer OS Content", "Khmer OS", "Khmer OS Bokor","Khmer OS Muol";
font-size:13px;
color:#000;
margin-bottom:-10px;
}
.imgv1{
	padding:5px;
	width:130px;
	height:140px;
	box-shadow:0px 0px 5px #ccc;
	margin-bottom:-10px;
}
.banimg{
	width:100%;
	height:200px;
}
.partnerimg{
	width:780px;
	height:400px;
	margin-top:5px;
	margin-bottom:5px;
}
.div_fb{
	margin-top:10px;
	margin-bottom:10px;
}
.div_pdesc{
	font-size:16px;
	font-family: "Khmer OS Content", "Khmer OS", "Khmer OS Bokor", "Khmer OS Muol";
	box-shadow:0px 0px 2px #F1F1F1;
	padding:0px;
	text-indent:40px;
	margin-bottom:20px;
	margin-top:20px;
}